<!DOCTYPE html>
<html>

<head>
    <title>
        Count Words
    </title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

    <h1>Word Counter</h1>
    <div id="upload-area">
        <form id="doc" action="/" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Upload a text document.</legend>
                <input type="file" name="textfile" accept=".txt" />
                <button form="doc" name="text" type="submit">Submit</button>

            </fieldset>
        </form>
        <br />
    </div>
    <div id="result">
        <table id="t2">
            <caption>Number of Words: <%= wordCount %></caption>
            <tr>
                <th>Word</th>
                <th>Frequency(>5)</th>
            </tr>
            <% topWords.forEach(function(words) { %>
            <tr>
                <td><%= words.word%></td>
                <td><%= words.frequency %></td>
            </tr>
            <%}); %>
        </table>
    </div>

</body>

</html>